@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-primary: #0067D2;
  --border-secondary: #ED5B3E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255; /* White color */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white; /* Set background color to white */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-primary {
  color: var(--text-primary);
}
.border-secondary {
  color: var(--border-secondary);
}